<%= div_for(@aboutvideo, :class => "video-wrap") do |video| %>
  <div class="video-youtube">
     <%= video.url.html_safe %>
  </div>
  <div class="video-content">
    <div class="video-title">
      <%= video.title %>
    </div>
    <div class="video-date">
      <%= video.date.strftime("%d.%m.%y ") %>
    </div>
    <div class="video-desc">
      <%= video.desc %>
    </div>
  </div>
   <% end %>
   <% content_for :title, "The Hippie Market - What We Do" %>  
