<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone1</th>
    <th>Phone2</th>
    <th>Web</th>
    <th>Fbook</th>
    <th>Twitter</th>
    <th>Pinterest</th>
    <th>Address</th>
    <th>Description</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.phone1 %></td>
    <td><%= store.phone2 %></td>
    <td><%= store.web %></td>
    <td><%= store.fbook %></td>
    <td><%= store.twitter %></td>
    <td><%= store.pinterest %></td>
    <td><%= store.address %></td>
    <td><%= store.description %></td>
    <td><%= store.tags %></td>
    <td><%= link_to 'Mostrar', store %></td>
    <td><%= link_to 'Editar', edit_store_path(store) %></td>
    <td><%= link_to 'Eliminar', store, confirm: 'Esta seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Tienda', new_store_path %>
