<div id="menu">
  <div id="nav">
	<ul>
    <li><%= link_to "HOME", root_path %></li>
    <li><%= link_to "STORES", visitor_shops_path %></li>
    <li><%= link_to "WHO WE ARE", visitor_what_path %></li>
    <li><%= link_to "WHAT WE DO", visitor_about_path %></li>
    <li><%= link_to "CONTACT US", '#' %></li>
    <li>BLOG</li>
	</ul>
</div>
<div id="search">
  <%= form_for @search do |f| %>
    <%= f.text_field :name_contains %>
    <%= f.submit "Search!", :name=>"search" %>
  <% end %>
</div>
</div>
