<div id="nav">
	<ul>
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Tiendas", visitor_shops_path %></li>
    <li><%= link_to "¿Que es esto?", visitor_what_path %></li>
    <li><%= link_to "¿Que hacemos?", visitor_about_path %></li>
    <li><%= link_to "Contactanos", '#' %></li>
    <li>Blog</li>
	</ul>
</div>
<div id="search">
  <%= form_for @search do |f| %>
    <%= f.text_field :name_contains %>
    <%= f.submit "Search!", :name=>"search" %>
  <% end %>
</div>
