<div id="menu">
  <div id="nav">
	<ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Stores", visitor_shops_path %></li>
    <li><%= link_to "Who we are", visitor_what_path %></li>
    <li><%= link_to "What we do", visitor_about_path %></li>
    <li><%= link_to "Contact Us", '#' %></li>
    <li>Blog</li>
	</ul>
</div>
<div id="search">
  <%= form_for @search do |f| %>
    <%= f.text_field :name_contains %>
    <%= f.submit "Search!", :name=>"search" %>
  <% end %>
</div>
</div>
