<!DOCTYPE html>
<html>
<head>
  <title>HippieStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/visitor' if controller_name == "visitor" %>
	<%= render 'layouts/admin' unless controller_name == "visitor" %>


</body>
</html>
